.gear * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.booth {
	margin: 20px 0;
}

.rack {
	width: 320px;
	padding: 0 0 30px 0;
	float: left;
	margin: 0 10px 0 0;
	/* border: solid 1px red; */
}

.rack-right {
	float: right;
	margin: 0 0 0 10px;
}

.rack-right .deck {
	text-align: right;
}

.rack-center {
	float: none;
	margin: 0px auto;
}

.gear {
	width: 320px;
	float: left;
	margin: 0 0 20px 0;
	list-style: none;
	padding: 0;
}

.gear h2 {
	margin: 0 0 4px 0;
	background: #eee;
	font-size: 1em;
	padding: 3px 5px;
	font-weight: bold;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
}

.deck .btns {
	width: 320px;
}

.deck .btns a {
	width: 82px;
	height: 65px;
	padding: 25px 11px;
	background: #3B5998;
	color: #fff;
	display: block;
	float: left;
	margin: 5px 5px 0 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

ul.videolist, ul.queuelist {
	padding: 0;
	margin: 0;
	list-style: none;
}

.fader {
	height: 65px; 
	padding-top: 2px;
	width: 38px;
	margin: 5px 0 0 0;
	float: right;
	background: #eee;
}

.fader .gain {
	height: 41px;
	margin: 10px auto 0;
}

.deck .btns a.stop {
	background: #666;
}

.deck .btns a:hover {
	background: #627AAD;
}

.deck .btns a.stop:hover {
	background: #c00;
}


li.result {
	width: 320px;
	padding: 4px 0;
	margin: 0px;
	border-bottom: solid 1px #eee;
}

.result h5 {
	margin: 2px 0 4px 0;
}

.result a {
	padding: 3px 5px;
	background: #3B5998;
	color: #fff;
	font-size: 0.8em;
	margin: 1px 4px 0 0px;
	text-decoration: none;
}	

.result a:hover {
	background: #627AAD;
}

.result a.fav {
	background: #e7bf38;
}
.result a.fav:hover {
	background: #f79f18;
}

.result img {
	width: 40px;
	height: 30px;
	display: none;
}
.result .loadto {
	text-transform: uppercase;
}


.mixer .faders {
	width: 290px;
	padding: 5px;
	background: #627AAD;
	margin: 0;
	float: left;
	color: #fff;
}

.mixer .btns {
	float: left;
}

.mixer .crossfader {
	width: 221px;
	float: left;
	margin: 7px 10px;
}

.mixer a.mixer-button {
	float: left;
	padding: 3px 5px;
	background: #eee;
	color: #627AAD;
}

.mixer a.mixer-button-b {
	float: right;
}

.form {
	width: 320px;
	height: 40px;
	float: left;
}
.clear {
	clear: both;
}
.text {
	float: left; 
	width: 320px;
}